In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('EDA.csv')

In [4]:
for col in df.columns:
    if "state" in col:
        print(col)

inputstate_post
statewelfare
statehealthcare
stateedu
stateinfra
stateLE
statewelfare_Increase
statewelfare_Maintain
statehealthcare_Increase
statehealthcare_Maintain
stateedu_Increase
stateedu_Maintain
stateinfra_Increase
stateinfra_Maintain
stateLE_Increase
stateLE_Maintain

In [8]:
states = []

for state in df['inputstate_post'].unique():
    states.append(state)
    
states = sorted(states)

state_dict = {}
for i, state in enumerate(states):
    state_dict[state] = i
    
state_dict

{'Alabama': 0,
 'Alaska': 1,
 'Arizona': 2,
 'Arkansas': 3,
 'California': 4,
 'Colorado': 5,
 'Connecticut': 6,
 'Delaware': 7,
 'District of Columbia': 8,
 'Florida': 9,
 'Georgia': 10,
 'Hawaii': 11,
 'Idaho': 12,
 'Illinois': 13,
 'Indiana': 14,
 'Iowa': 15,
 'Kansas': 16,
 'Kentucky': 17,
 'Louisiana': 18,
 'Maine': 19,
 'Maryland': 20,
 'Massachusetts': 21,
 'Michigan': 22,
 'Minnesota': 23,
 'Mississippi': 24,
 'Missouri': 25,
 'Montana': 26,
 'Nebraska': 27,
 'Nevada': 28,
 'New Hampshire': 29,
 'New Jersey': 30,
 'New Mexico': 31,
 'New York': 32,
 'North Carolina': 33,
 'North Dakota': 34,
 'Ohio': 35,
 'Oklahoma': 36,
 'Oregon': 37,
 'Pennsylvania': 38,
 'Rhode Island': 39,
 'South Carolina': 40,
 'South Dakota': 41,
 'Tennessee': 42,
 'Texas': 43,
 'Utah': 44,
 'Vermont': 45,
 'Virginia': 46,
 'Washington': 47,
 'West Virginia': 48,
 'Wisconsin': 49,
 'Wyoming': 50}

In [23]:
def binarize(state, digit):
    num = state_dict[state]
    bin_str = format(num, '06b')
    return bin_str[digit]

In [24]:
df['state0'] = df['inputstate_post'].apply(lambda x: binarize(x, 0))
df['state1'] = df['inputstate_post'].apply(lambda x: binarize(x, 1))
df['state2'] = df['inputstate_post'].apply(lambda x: binarize(x, 2))
df['state3'] = df['inputstate_post'].apply(lambda x: binarize(x, 3))
df['state4'] = df['inputstate_post'].apply(lambda x: binarize(x, 4))
df['state5'] = df['inputstate_post'].apply(lambda x: binarize(x, 5))

In [25]:
df['statenum'] = df['inputstate_post'].apply(lambda x: state_dict[x])

In [26]:
df['statenumbin'] = df['statenum'].apply(lambda x: format(x, '06b'))

In [27]:
df[['state0', 'state1', 'state2', 'state3', 'state4', 'state5', 'inputstate_post', 'statenum', 'statenumbin']]

,state0,state1,state2,state3,state4,state5,inputstate_post,statenum,statenumbin
0,0,1,1,1,0,1,New Hampshire,29,011101
1,0,0,0,1,0,1,Colorado,5,000101
2,0,0,0,0,0,0,Alabama,0,000000
3,1,0,1,0,1,1,Texas,43,101011
4,0,0,1,0,1,0,Georgia,10,001010
5,1,0,0,1,1,0,Pennsylvania,38,100110
6,1,0,1,0,1,1,Texas,43,101011
7,0,0,1,0,0,1,Florida,9,001001
8,0,1,0,0,0,0,Kansas,16,010000
9,1,0,0,1,1,0,Pennsylvania,38,100110
10,0,1,1,1,1,0,New Jersey,30,011110
11,1,0,1,0,1,1,Texas,43,101011
12,1,0,0,0,0,0,New York,32,100000
13,0,0,1,0,0,1,Florida,9,001001
14,1,0,0,0,0,0,New York,32,100000
15,0,0,0,1,0,0,California,4,000100
16,0,1,0,1,0,1,Massachusetts,21,010101
17,0,1,0,0,1,1,Maine,19,010011
18,0,1,0,1,0,0,Maryland,20,010100
19,0,0,1,0,0,1,Florida,9,001001
20,0,1,0,1,1,0,Michigan,22,010110
21,1,0,1,0,1,1,Texas,43,101011
22,1,0,1,0,1,1,Texas,43,101011
23,0,1,1,0,1,0,Montana,26,011010
24,0,0,0,0,1,0,Arizona,2,000010
25,1,0,0,1,1,0,Pennsylvania,38,100110
26,0,1,0,1,1,0,Michigan,22,010110
27,1,0,1,0,1,1,Texas,43,101011
28,1,0,1,1,1,1,Washington,47,101111
29,1,0,1,1,1,0,Virginia,46,101110
...,...,...,...,...,...,...,...,...,...
48114,0,1,1,0,0,1,Missouri,25,011001
48115,0,0,1,1,0,1,Illinois,13,001101
48116,1,0,0,0,1,1,Ohio,35,100011
48117,1,0,0,1,0,1,Oregon,37,100101
48118,1,1,0,0,0,1,Wisconsin,49,110001
48119,0,1,1,1,0,0,Nevada,28,011100
48120,1,0,0,0,0,1,North Carolina,33,100001
48121,0,0,1,0,0,1,Florida,9,001001
48122,1,0,1,0,0,0,South Carolina,40,101000
48123,1,0,0,0,0,0,New York,32,100000
48124,0,0,0,0,0,0,Alabama,0,000000
48125,0,0,1,1,0,1,Illinois,13,001101
48126,0,0,1,0,0,1,Florida,9,001001
48127,0,0,0,0,0,0,Alabama,0,000000
48128,1,0,1,1,0,0,Utah,44,101100
48129,0,1,1,1,1,0,New Jersey,30,011110
48130,0,0,0,1,0,0,California,4,000100
48131,1,0,1,1,1,0,Virginia,46,101110
48132,0,0,1,0,0,1,Florida,9,001001
48133,0,0,1,0,0,1,Florida,9,001001
48134,0,1,0,1,0,1,Massachusetts,21,010101
48135,0,0,1,0,1,0,Georgia,10,001010
48136,1,0,0,0,1,1,Ohio,35,100011
48137,1,0,0,1,1,0,Pennsylvania,38,100110
48138,0,1,1,0,0,0,Mississippi,24,011000
48139,0,0,0,1,0,0,California,4,000100
48140,1,0,1,1,0,0,Utah,44,101100
48141,0,1,0,1,0,1,Massachusetts,21,010101
48142,0,1,0,0,0,0,Kansas,16,010000
48143,1,0,1,1,1,1,Washington,47,101111