In [2]:
import pandas as pd
import numpy as np

In [6]:
#import CSV file, using Latin1 encoding to resolve an error: 'utf-8' codec can't decode byte 0xe9 in position 18
df = pd.read_csv('global_terrorism.csv', encoding = 'latin1')

C:\Users\joshy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
#Get list of column names, with their column indices
for i in range(len(list(df.columns))):
    print(i, list(df.columns)[i])

0 eventid
1 iyear
2 imonth
3 iday
4 approxdate
5 extended
6 resolution
7 country
8 country_txt
9 region
10 region_txt
11 provstate
12 city
13 latitude
14 longitude
15 specificity
16 vicinity
17 location
18 summary
19 crit1
20 crit2
21 crit3
22 doubtterr
23 alternative
24 alternative_txt
25 multiple
26 success
27 suicide
28 attacktype1
29 attacktype1_txt
30 attacktype2
31 attacktype2_txt
32 attacktype3
33 attacktype3_txt
34 targtype1
35 targtype1_txt
36 targsubtype1
37 targsubtype1_txt
38 corp1
39 target1
40 natlty1
41 natlty1_txt
42 targtype2
43 targtype2_txt
44 targsubtype2
45 targsubtype2_txt
46 corp2
47 target2
48 natlty2
49 natlty2_txt
50 targtype3
51 targtype3_txt
52 targsubtype3
53 targsubtype3_txt
54 corp3
55 target3
56 natlty3
57 natlty3_txt
58 gname
59 gsubname
60 gname2
61 gsubname2
62 gname3
63 gsubname3
64 motive
65 guncertain1
66 guncertain2
67 guncertain3
68 individual
69 nperps
70 nperpcap
71 claimed
72 claimmode
73 claimmode_txt
74 claim2
75 claimmode2
76 claimmode2_txt
77 claim3
78 claimmode3
79 claimmode3_txt
80 compclaim
81 weaptype1
82 weaptype1_txt
83 weapsubtype1
84 weapsubtype1_txt
85 weaptype2
86 weaptype2_txt
87 weapsubtype2
88 weapsubtype2_txt
89 weaptype3
90 weaptype3_txt
91 weapsubtype3
92 weapsubtype3_txt
93 weaptype4
94 weaptype4_txt
95 weapsubtype4
96 weapsubtype4_txt
97 weapdetail
98 nkill
99 nkillus
100 nkillter
101 nwound
102 nwoundus
103 nwoundte
104 property
105 propextent
106 propextent_txt
107 propvalue
108 propcomment
109 ishostkid
110 nhostkid
111 nhostkidus
112 nhours
113 ndays
114 divert
115 kidhijcountry
116 ransom
117 ransomamt
118 ransomamtus
119 ransompaid
120 ransompaidus
121 ransomnote
122 hostkidoutcome
123 hostkidoutcome_txt
124 nreleased
125 addnotes
126 scite1
127 scite2
128 scite3
129 dbsource
130 INT_LOG
131 INT_IDEO
132 INT_MISC
133 INT_ANY
134 related

In [8]:
#Select the columns I am interested in
col_indexes =  [1,2,9,13,14,19,20,21,26,27,28,30,32,34,42,50,68,81,85,89,93,98,101,104,105]
#Update 4/15: added latitude, longitude

#Create dataframe using these columns, using missing value codes from the dataset guide to convert missing values to NaN
terrorism_df = pd.read_csv('global_terrorism.csv', encoding = 'latin1', usecols = col_indexes, 
                           na_values = {'attacktype1': 9, 'weaptype1': 13, 'targtype1': 20, 'property': -9, 'propextent':4})

In [9]:
terrorism_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170350 entries, 0 to 170349
Data columns (total 25 columns):
iyear          170350 non-null int64
imonth         170350 non-null int64
region         170350 non-null int64
latitude       165744 non-null float64
longitude      165744 non-null float64
crit1          170350 non-null int64
crit2          170350 non-null int64
crit3          170350 non-null int64
success        170350 non-null int64
suicide        170350 non-null int64
attacktype1    163925 non-null float64
attacktype2    5630 non-null float64
attacktype3    374 non-null float64
targtype1      165477 non-null float64
targtype2      10018 non-null float64
targtype3      1034 non-null float64
individual     170350 non-null int64
weaptype1      156498 non-null float64
weaptype2      11843 non-null float64
weaptype3      1660 non-null float64
weaptype4      74 non-null float64
nkill          160668 non-null float64
nwound         155025 non-null float64
property       150771 non-null float64
propextent     41479 non-null float64
dtypes: float64(16), int64(9)
memory usage: 32.5 MB

In [14]:
terrorism_df.describe()

,iyear,imonth,region,latitude,longitude,crit1,crit2,crit3,success,suicide,...,targtype3,individual,weaptype1,weaptype2,weaptype3,weaptype4,nkill,nwound,property,propextent
count,170350.000000,170350.000000,170350.000000,165744.000000,165744.000000,170350.000000,170350.000000,170350.000000,170350.000000,170350.000000,...,1034.000000,170350.000000,156498.000000,11843.000000,1660.000000,74.000000,160668.000000,155025.000000,150771.000000,41479.000000
mean,2001.709997,6.474365,7.091441,23.399774,26.350909,0.988441,0.992985,0.879818,0.896396,0.033871,...,9.882012,0.002483,5.846925,6.741366,6.869880,6.243243,2.387246,3.200239,0.597058,2.977917
std,13.144146,3.392364,2.949206,18.844885,58.570068,0.106888,0.083461,0.325175,0.304747,0.180899,...,5.803961,0.049769,0.939205,2.196341,2.157719,1.497128,11.327709,34.647365,0.490491,0.147938
min,1970.000000,0.000000,1.000000,-53.154613,-176.176447,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,1.000000,2.000000,5.000000,0.000000,0.000000,0.000000,1.000000
25%,1990.000000,4.000000,5.000000,11.263580,2.396199,1.000000,1.000000,1.000000,1.000000,0.000000,...,3.000000,0.000000,5.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,3.000000
50%,2007.000000,6.000000,6.000000,31.472680,43.130000,1.000000,1.000000,1.000000,1.000000,0.000000,...,14.000000,0.000000,6.000000,6.000000,6.000000,6.000000,0.000000,0.000000,1.000000,3.000000
75%,2014.000000,9.000000,10.000000,34.744167,68.451297,1.000000,1.000000,1.000000,1.000000,0.000000,...,14.000000,0.000000,6.000000,8.000000,8.000000,6.000000,2.000000,2.000000,1.000000,3.000000
max,2016.000000,12.000000,12.000000,74.633553,179.366667,1.000000,1.000000,1.000000,1.000000,1.000000,...,22.000000,1.000000,12.000000,13.000000,13.000000,12.000000,1500.000000,7366.000000,1.000000,3.000000

In [13]:
#clearly the distribution is right-skewed, but the highest values don't seem to be outliers per se, so I don't think 
#I need to remove any

nwound = np.sort(terrorism_df[~pd.isnull(terrorism_df['nwound'])]['nwound'])[::-1]
print(nwound[:100])

[ 7366.  7365.  5500.  4000.  1500.  1272.  1001.   817.   800.   751.
   750.   750.   727.   700.   671.   650.   600.   552.   542.   500.
   450.   450.   450.   450.   433.   400.   400.   400.   400.   391.
   386.   370.   360.   360.   351.   347.   347.   340.   319.   301.
   300.   300.   300.   300.   300.   300.   300.   300.   296.   295.
   286.   285.   276.   270.   260.   257.   250.   250.   250.   250.
   250.   250.   250.   250.   246.   245.   238.   236.   235.   235.
   233.   230.   230.   227.   227.   224.   224.   220.   220.   220.
   217.   217.   217.   216.   215.   215.   211.   207.   201.   201.
   201.   200.   200.   200.   200.   200.   200.   200.   200.   200.]

In [11]:
#I think this is a similar situation

#now I'd like to "pivot" the attacktype and targettype columns, since some attacks have multiple types
#and the order in which they are listed is not that meaningful

sum(terrorism_df['success'])

152701

In [11]:
#Remove rows with missing values
filter_cols = ['attacktype1', 'targtype1', 'weaptype1', 'nkill', 'latitude', 'longitude']

cleaned_df = terrorism_df.dropna(axis = 0, how = 'any', subset = filter_cols)
cleaned_df = cleaned_df.reset_index(drop=True)
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140928 entries, 0 to 140927
Data columns (total 25 columns):
iyear          140928 non-null int64
imonth         140928 non-null int64
region         140928 non-null int64
latitude       140928 non-null float64
longitude      140928 non-null float64
crit1          140928 non-null int64
crit2          140928 non-null int64
crit3          140928 non-null int64
success        140928 non-null int64
suicide        140928 non-null int64
attacktype1    140928 non-null float64
attacktype2    4907 non-null float64
attacktype3    337 non-null float64
targtype1      140928 non-null float64
targtype2      8843 non-null float64
targtype3      890 non-null float64
individual     140928 non-null int64
weaptype1      140928 non-null float64
weaptype2      10587 non-null float64
weaptype3      1515 non-null float64
weaptype4      63 non-null float64
nkill          140928 non-null float64
nwound         135589 non-null float64
property       123859 non-null float64
propextent     38040 non-null float64
dtypes: float64(16), int64(9)
memory usage: 26.9 MB

In [14]:
len(cleaned_df) - sum(cleaned_df['success'])

#about 10% unsuccessful

12979

In [ ]:
#the difference in mean and max of nkill was pretty striking, so I investigated the top numbers killed of the dataframe
nkill = np.sort(cleaned_df[~pd.isnull(cleaned_df['nkill'])]['nkill'])[::-1]
print(nkill[:825])

#clearly the distribution is right-skewed, but the highest values don't seem to be outliers per se, so I'm not sure
#I need to remove any

In [ ]:
nwound = np.sort(cleaned_df[~pd.isnull(cleaned_df['nwound'])]['nwound'])[::-1]
print(nwound[:825])

In [32]:
region_dict = {1: 'North America', 2: 'Central America', 3: 'South America', 4: 'East Asia', 5: 'SE Asia', 6: 'South Asia', 
7: 'Central Asia', 8: 'West Europe',9: 'East Europe',10: 'ME and North Africa', 
11: 'Sub-Saharan Africa', 12: 'Oceania'}

#leave one out
for i in range(1,12):
    cleaned_df[region_dict[i]] = (cleaned_df['region'] == i).astype(int)
    
print(cleaned_df[['region','North America','South America', 'ME and North Africa']])

        region  North America  South America  ME and North Africa
0            1              1              0                    0
1            3              0              1                    0
2            1              1              0                    0
3            1              1              0                    0
4            1              1              0                    0
5            1              1              0                    0
6            1              1              0                    0
7            8              0              0                    0
8            1              1              0                    0
9            1              1              0                    0
10           1              1              0                    0
11           1              1              0                    0
12           1              1              0                    0
13           1              1              0                    0
14           3              0              1                    0
15           1              1              0                    0
16           1              1              0                    0
17           1              1              0                    0
18           5              0              0                    0
19           1              1              0                    0
20           1              1              0                    0
21           1              1              0                    0
22           1              1              0                    0
23           1              1              0                    0
24           1              1              0                    0
25           1              1              0                    0
26           1              1              0                    0
27           1              1              0                    0
28           1              1              0                    0
29           1              1              0                    0
...        ...            ...            ...                  ...
140898      11              0              0                    0
140899      11              0              0                    0
140900       6              0              0                    0
140901       6              0              0                    0
140902       6              0              0                    0
140903       6              0              0                    0
140904      10              0              0                    1
140905       5              0              0                    0
140906       5              0              0                    0
140907       6              0              0                    0
140908       6              0              0                    0
140909      10              0              0                    1
140910       6              0              0                    0
140911      11              0              0                    0
140912       6              0              0                    0
140913       6              0              0                    0
140914       6              0              0                    0
140915       6              0              0                    0
140916      11              0              0                    0
140917      10              0              0                    1
140918      10              0              0                    1
140919      10              0              0                    1
140920      10              0              0                    1
140921      10              0              0                    1
140922       6              0              0                    0
140923       6              0              0                    0
140924       6              0              0                    0
140925       5              0              0                    0
140926       1              1              0                    0
140927      11              0              0                    0

[140928 rows x 4 columns]

In [16]:
cleaned_df.loc[cleaned_df['weaptype1'] == 12].describe()

,iyear,imonth,region,latitude,longitude,crit1,crit2,crit3,success,suicide,...,Central America,South America,East Asia,SE Asia,South Asia,Central Asia,West Europe,East Europe,ME and North Africa,Sub-Saharan Africa
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.0,102.000000,102.000000,102.0,...,102.0,102.000000,102.000000,102.000000,102.000000,102.0,102.000000,102.000000,102.000000,102.000000
mean,2003.588235,6.656863,6.990196,28.690786,13.413235,0.990196,1.0,0.980392,0.764706,0.0,...,0.0,0.049020,0.029412,0.039216,0.117647,0.0,0.176471,0.039216,0.225490,0.137255
std,11.275447,3.154425,3.550192,21.073791,64.660486,0.099015,0.0,0.139333,0.426277,0.0,...,0.0,0.216975,0.169792,0.195066,0.323781,0.0,0.383103,0.195066,0.419968,0.345816
min,1976.000000,1.000000,1.000000,-38.698045,-122.685942,0.000000,1.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,1994.000000,4.000000,4.250000,15.771812,-5.987365,1.000000,1.0,1.000000,1.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,2007.500000,7.000000,8.000000,33.971163,19.768126,1.000000,1.0,1.000000,1.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,2014.000000,10.000000,10.000000,42.352263,44.205773,1.000000,1.0,1.000000,1.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,2016.000000,12.000000,12.000000,59.195947,151.003155,1.000000,1.0,1.000000,1.000000,0.0,...,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [33]:
weapon_dict = {1:'Biological',2:'Chemical',3:'Radiological',
            4:'Nuclear',5:'Firearms',6:'Explosives',
            7:'Fake Weapon', 8:'Incendiary', 9:'Melee',
            10:'Vehicle',11:'Sabotage Equipment', 12:'Other'}

#leave out 'other'
for i in range(1,12):
    cleaned_df[weapon_dict[i]] = ((cleaned_df['weaptype1'] == i) | (cleaned_df['weaptype2'] == i) 
                                   | (cleaned_df['weaptype3'] == i) | (cleaned_df['weaptype4'] == i)).astype(int)
    
multiple_types = cleaned_df.loc[pd.notnull(cleaned_df['weaptype3'])]
    
print(multiple_types[['weaptype1', 'weaptype2', 'weaptype3','Firearms', 'Explosives','Melee']])

        weaptype1  weaptype2  weaptype3  Firearms  Explosives  Melee
452           6.0        5.0       13.0         1           1      0
587           5.0        5.0        5.0         1           0      0
1670          5.0        9.0        9.0         1           0      1
1672          5.0        9.0        9.0         1           0      1
1728          5.0        6.0        8.0         1           1      0
1739          9.0        9.0        9.0         0           0      1
1858          5.0        5.0        5.0         1           0      0
4070          6.0        6.0        6.0         0           1      0
4394          5.0        6.0        6.0         1           1      0
4791          5.0        5.0        6.0         1           1      0
4982          5.0        5.0        5.0         1           0      0
5365          5.0        6.0        5.0         1           1      0
5653          5.0        5.0        5.0         1           0      0
5753          5.0        6.0        5.0         1           1      0
5901          7.0        7.0        7.0         0           0      0
6105          5.0        5.0        5.0         1           0      0
6160          5.0        5.0        6.0         1           1      0
6360          6.0        6.0        5.0         1           1      0
6405          5.0        6.0        5.0         1           1      0
6481          5.0        6.0        8.0         1           1      0
6526          6.0        5.0        6.0         1           1      0
6644          5.0        9.0        9.0         1           0      1
6653          6.0        5.0        6.0         1           1      0
6768          8.0        6.0        5.0         1           1      0
6878          8.0        5.0        5.0         1           0      0
7078          5.0        5.0        5.0         1           0      0
7193          5.0        5.0        5.0         1           0      0
7194          5.0        5.0        5.0         1           0      0
7195          5.0        5.0        5.0         1           0      0
7197          5.0        5.0        5.0         1           0      0
...           ...        ...        ...       ...         ...    ...
138973        6.0        5.0        8.0         1           1      0
139059        6.0        6.0       13.0         0           1      0
139062        6.0        6.0        5.0         1           1      0
139072        6.0        6.0        5.0         1           1      0
139099        6.0        6.0        5.0         1           1      0
139259        6.0        6.0        5.0         1           1      0
139262        6.0        5.0        8.0         1           1      0
139423        6.0        6.0        5.0         1           1      0
139463        6.0        6.0        5.0         1           1      0
139468        6.0        5.0        8.0         1           1      0
139693        5.0        8.0        9.0         1           0      1
139869        6.0        6.0        5.0         1           1      0
140025        6.0        6.0        5.0         1           1      0
140084        5.0        8.0        9.0         1           0      1
140101        6.0        6.0        5.0         1           1      0
140106        8.0        9.0       12.0         0           0      1
140303        5.0        8.0        9.0         1           0      1
140351        6.0        5.0        5.0         1           1      0
140467        6.0        6.0        5.0         1           1      0
140513        5.0        8.0       12.0         1           0      0
140525        6.0        5.0        5.0         1           1      0
140692        5.0        9.0        9.0         1           0      1
140697        6.0        6.0        5.0         1           1      0
140755        6.0        5.0        8.0         1           1      0
140845        6.0        9.0       10.0         0           1      1
140880        5.0        5.0        9.0         1           0      1
140881        5.0        5.0        9.0         1           0      1
140889        6.0        6.0        6.0         0           1      0
140898        5.0        5.0        9.0         1           0      1
140899        5.0        5.0        9.0         1           0      1

[1515 rows x 6 columns]

In [34]:
type_dict = {1:'Assassination', 2:'Armed Assault',
            3:'Bombing', 4:'Hijacking', 5:'Hostage (Barricade)',
             6:'Kidnapping', 7:'Infrastructure', 8:'Unarmed Assault'}

#leave out the last, again
for i in range(1,8):
    cleaned_df[type_dict[i]] = ((cleaned_df['attacktype1'] == i) | (cleaned_df['attacktype2'] == i)
                                | (cleaned_df['attacktype3'] == i)).astype(int)
    
multiple_a_types = cleaned_df.loc[pd.notnull(cleaned_df['attacktype3'])]
    
print(multiple_a_types[['attacktype1', 'attacktype2', 'attacktype3','Bombing','Infrastructure']])

        attacktype1  attacktype2  attacktype3  Bombing  Infrastructure
1432            5.0          7.0          2.0        0               1
4855            1.0          6.0          4.0        0               0
45419           3.0          2.0          7.0        1               1
52451           2.0          7.0          3.0        1               1
52469           3.0          2.0          6.0        1               0
52864           3.0          2.0          7.0        1               1
52896           3.0          2.0          7.0        1               1
53250           2.0          3.0          6.0        1               0
53458           2.0          NaN          6.0        0               0
53615           2.0          6.0          7.0        0               1
53990           2.0          NaN          6.0        0               0
54088           2.0          5.0          1.0        0               0
54509           2.0          6.0          4.0        0               0
54548           2.0          3.0          6.0        1               0
55016           2.0          6.0          7.0        0               1
55266           6.0          3.0          7.0        1               1
55751           2.0          3.0          1.0        1               0
55818           3.0          2.0          7.0        1               1
55964           2.0          7.0          6.0        0               1
56250           2.0          7.0          7.0        0               1
56367           2.0          6.0          7.0        0               1
56670           6.0          7.0          2.0        0               1
56742           6.0          7.0          2.0        0               1
57313           6.0          2.0          7.0        0               1
57314           2.0          3.0          7.0        1               1
57536           2.0          3.0          2.0        1               0
57551           3.0          2.0          6.0        1               0
57601           7.0          2.0          3.0        1               1
58119           3.0          2.0          6.0        1               0
58145           2.0          7.0          6.0        0               1
...             ...          ...          ...      ...             ...
134425          5.0          2.0          7.0        0               1
134666          6.0          2.0          7.0        0               1
134741          3.0          2.0          7.0        1               1
134742          3.0          2.0          7.0        1               1
134743          3.0          2.0          7.0        1               1
134744          3.0          2.0          7.0        1               1
134745          3.0          2.0          7.0        1               1
134970          5.0          3.0          2.0        1               0
135445          3.0          2.0          7.0        1               1
135630          6.0          2.0          7.0        0               1
135652          5.0          3.0          2.0        1               0
136063          3.0          2.0          7.0        1               1
136519          6.0          2.0          7.0        0               1
137318          6.0          2.0          7.0        0               1
137321          3.0          2.0          7.0        1               1
137400          5.0          3.0          2.0        1               0
137421          5.0          3.0          2.0        1               0
137935          3.0          2.0          7.0        1               1
138063          1.0          2.0          7.0        0               1
138824          3.0          2.0          7.0        1               1
139262          3.0          2.0          7.0        1               1
139742          6.0          2.0          7.0        0               1
139763          6.0          3.0          2.0        1               0
140467          6.0          3.0          2.0        1               0
140755          3.0          2.0          7.0        1               1
140847          6.0          2.0          7.0        0               1
140880          6.0          2.0          7.0        0               1
140881          6.0          2.0          7.0        0               1
140898          6.0          2.0          7.0        0               1
140899          6.0          2.0          7.0        0               1

[337 rows x 5 columns]

In [35]:
target_dict = {1:'Business', 2:'Government', 3:'Police',4:'Military',5:'Abortion',6:'Aviation',7:'Diplomatic',8:'Education',9:'FoodWater',10:'Media',
              11:'Maritime', 12:'NGO',13:'Other',14:'Private',15:'Religious',16:'Telecommunication',
              17:'Terrorists', 18:'Tourists', 19:'Transportation',21:'Utilities',22:'Violent Parties'}

target_codes = [i for i in range(1,23) if i != 13 and i != 20]

for i in target_codes:
    cleaned_df[target_dict[i]] = ((cleaned_df['targtype1'] == i) | (cleaned_df['targtype2'] == i)
                                | (cleaned_df['targtype3'] == i)).astype(int)
    
multiple_t_types = cleaned_df.loc[pd.notnull(cleaned_df['targtype3'])]
    
print(multiple_t_types[['targtype1', 'targtype2', 'targtype3','Government','Private']])

        targtype1  targtype2  targtype3  Government  Private
1375          3.0       14.0        1.0           0        1
3130          7.0        2.0        2.0           1        0
3896          3.0        3.0        3.0           0        0
4279          1.0        1.0        1.0           0        0
4280          1.0        1.0        1.0           0        0
4281          1.0        1.0        1.0           0        0
4855         10.0       14.0        6.0           0        1
5724          3.0        2.0        3.0           1        0
7489          6.0        6.0        6.0           0        0
9758          7.0        7.0        7.0           0        0
10009         2.0        2.0        2.0           1        0
10077         4.0        4.0        4.0           0        0
10282         2.0        7.0       15.0           1        0
10763         2.0        2.0       14.0           1        1
10912         1.0       14.0       14.0           0        1
10963         2.0        2.0       14.0           1        1
11785         7.0        7.0        7.0           0        0
13850        14.0       14.0        7.0           0        1
14524         1.0       14.0       14.0           0        1
14755         2.0        2.0        2.0           1        0
16881         1.0       14.0        1.0           0        1
17026         1.0        1.0        1.0           0        0
18790         2.0        7.0        2.0           1        0
18791         2.0        7.0        2.0           1        0
18792         2.0        7.0        2.0           1        0
18793         2.0        7.0        2.0           1        0
18794         2.0        7.0        2.0           1        0
18795         2.0        7.0        2.0           1        0
18796         2.0        7.0        2.0           1        0
18797         2.0        7.0        2.0           1        0
...           ...        ...        ...         ...      ...
137317       14.0       14.0       14.0           0        1
137555        1.0        4.0        2.0           1        0
137811        3.0       19.0       14.0           0        1
137889       14.0        3.0       14.0           0        1
137890        3.0       14.0       14.0           0        1
137937       14.0       14.0       14.0           0        1
137952       17.0        4.0       14.0           0        1
137961        3.0        3.0       14.0           0        1
138040       14.0       14.0        8.0           0        1
138389        3.0        8.0       14.0           0        1
138392        3.0        4.0       14.0           0        1
138781        2.0        3.0        3.0           1        0
139026        2.0        3.0       15.0           1        0
139045        4.0       14.0       14.0           0        1
139182        2.0       14.0       14.0           1        1
139242       14.0       14.0       14.0           0        1
139359        3.0        3.0       17.0           0        0
139705        7.0       12.0       12.0           0        0
139729        3.0       14.0       13.0           0        1
139796        2.0        4.0       14.0           1        1
139808        2.0        1.0        1.0           1        0
139868        4.0        4.0        4.0           0        0
140171        4.0        2.0        2.0           1        0
140405        4.0        3.0       14.0           0        1
140482        4.0        3.0       14.0           0        1
140571       13.0       14.0       12.0           0        1
140625       18.0        3.0       14.0           0        1
140669        3.0        7.0        4.0           0        0
140680       14.0        4.0        6.0           0        1
140871       19.0       14.0       19.0           0        1

[890 rows x 5 columns]

In [36]:
cleaned_df.to_csv('cleaned.csv')

In [22]:
cleaned_df['gname'].unique()

len(cleaned_df['gname'].unique())

2986

In [28]:
cleaned_df.groupby('gname').size().sort_values(ascending = False)

gname
Unknown                                             67622
Taliban                                              5250
Shining Path (SL)                                    3605
Islamic State of Iraq and the Levant (ISIL)          3210
Irish Republican Army (IRA)                          2424
Farabundo Marti National Liberation Front (FMLN)     2191
Revolutionary Armed Forces of Colombia (FARC)        1843
New People's Army (NPA)                              1830
Al-Shabaab                                           1810
Kurdistan Workers' Party (PKK)                       1780
Boko Haram                                           1740
Basque Fatherland and Freedom (ETA)                  1739
Communist Party of India - Maoist (CPI-Maoist)       1541
Liberation Tigers of Tamil Eelam (LTTE)              1379
Maoists                                              1161
Tehrik-i-Taliban Pakistan (TTP)                      1141
National Liberation Army of Colombia (ELN)           1116
Palestinians                                          891
Al-Qaida in the Arabian Peninsula (AQAP)              819
Manuel Rodriguez Patriotic Front (FPMR)               725
Al-Qaida in Iraq                                      603
Sikh Extremists                                       601
Corsican National Liberation Front (FLNC)             574
Houthi extremists (Ansar Allah)                       562
Donetsk People's Republic                             499
Muslim extremists                                     479
Tupac Amaru Revolutionary Movement (MRTA)             468
Separatists                                           451
African National Congress (South Africa)              447
People's Liberation Front (JVP)                       407
                                                    ...
Marxist Peoples Fedayeen of Iran                        1
Marwan Al-Qawasimi and Amir Abu-Ayshah Group            1
Manipur Nationalist Revolutionary Party (MNRP)          1
Madhesh Mukti Sangram (MMS)                             1
Madhesi Virus Killers                                   1
Mahdaviyat                                              1
Mahidi                                                  1
Mahir Cayan Suicide Group                               1
Mahsud Tribe                                            1
Mai Mai Manu Militia                                    1
Majerten clansmen                                       1
Majlis-e-Askari                                         1
Malaysian Communist Party                               1
Malitia-Pro Govt                                        1
Mandela Soccer Club                                     1
Manuel Ascencio Padilla Group                           1
Martyrs revenge organization                            1
Maoist Communist Party (MKP)                            1
Maoist Farm Laborers Struggle Committee (MXSS)          1
Maori                                                   1
Marhan Clan                                             1
Martyr Ahmad Alishuay B Group                           1
Martyr Ali Nasir group                                  1
Martyr Riyad Taha Group                                 1
Martyr Sami al-Ghul Brigades                            1
Martyrs Halim Group                                     1
Martyrs of Baalbek                                      1
Martyrs of Saad Sayel                                   1
Martyrs of Tell Al-Zaltar                               1
Komando Jihad (Indonesian)                              1
Length: 2986, dtype: int64